* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 255, 255);
	font-family: 'Nunito', sans-serif;
	color: #797a7a;
	line-height: 1.6;
	overflow-x: hidden;
}

/* ========================
		TYPOGRAPHY 
=========================== */
h1 {
	font-weight: normal;
}

h2,
h3,
h4 {
	font-family: "cinzel", sans-serif;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: underline;
	font-weight: normal;
}

.inleiding-content {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .6px;
	line-height: 1.6;
	text-align: center;
	color: #5c6b7a;
	opacity: .8;
}

.werkwijze-inleiding {
	text-align: center;
	line-height: 1.4;
}

.werkwijze-inleiding h3 {
	font-size: 21px;
}

.card-stap {
	color: #bb97a8;
	font-size: 14px;
}

.card-content {
	color: #5c687a;
	opacity: .8;
}

.pakketten h3,
.portfolio h3 {
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 3px;
}

.card-pakket-name {
	text-align: left;
	color: #bb97a8;
	font-size: 18px;
	text-decoration: none;
}

.pakket-prijs {
	font-size: 20px;
	font-weight: bold;
	color: #bb97a8;
}

/* styling/fonts .button-cta-stap a: see layout */

/* ========================
		LAYOUT 
=========================== */

/* header */

header {
	width: 100%;
	background: white;
	position: sticky;
	z-index: 999;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 4em;
}

/* logo */

.logo,
.nav-link a {
	text-decoration: none;
	color: rgba(48, 49, 49, .9);
}

.logo {
	font-family: 'Cinzel', serif;
	font-size: 26px;
	min-width: 130px;
}

/* nav  */

.nav-links {
	list-style: none;
}

.nav-link {
	display: inline-block;
	margin-left: 2em;
}

.nav-link a {
	font-size: 16px;
}

.nav-link a:hover,
.nav-link a:focus,
.nav-current a {
	color: rgba(48, 49, 49, 0.6);
}

/* MAIN  */

/* inleiding  */

.inleiding-img {
	height: 500px;
}

.inleiding-img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.inleiding-content {
	padding: 4em 0;
	max-width: 900px;
	margin: 0 auto;
}

/* purple box ter decoratie  */

.purple {
	background: #bb97a8;
	height: 400px;
}

/* werkwijze  */

.werkwijze {
	margin-bottom: 6em;
}

.werkwijze-inleiding {
	max-width: 800px;
	margin: 0 auto;
	padding: 3em;
}

.werkwijze-inleiding h3 {
	margin-bottom: 1em;
}

/* werkwijze cards  */

.werkwijze-card-container,
.pakketten-container {
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	max-width: 310px;
	box-shadow: 0 4px 8px rgb(228, 228, 228);
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 1em;
}

.card img {
	display: block;
	width: 100%;
	object-fit: contain;
}

.card-content-container {
	padding: .3em 1em 1em;
}

.card-stap {
	margin-bottom: 1.2em;
}

/* cta button stap  */

.button-cta-stap {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

.button-cta-stap a {
	display: inline-block;
	background: #bb97a8;
	color: rgba(255, 255, 255, 1);
	font-weight: 700;
	letter-spacing: .5px;
	text-decoration: none;
	padding: 1em 2em;
	border: 0;
	border-radius: 30px;
	box-shadow: 0 3px 6px gray;
}

.button-cta-stap a:hover,
.button-cta-stap a:focus {
	opacity: .9;
}

/* pakketten */

.pakketten {
	margin-bottom: 6em;
}

/* see .werkwijze-card-container for layout .pakketten-container */

.pakketten h3,
.portfolio h3 {
	margin-bottom: 1em;
}

.position-card-pakket-name {
	position: relative;
}

.card-pakket-name {
	background: white;
	padding: .4em .8em;
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 200px;
}

.pakket-content {
	padding-top: 1em;
	margin-bottom: 2em;
}

.pakket-prijs-container {
	margin-top: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cta-boeken {
	display: inline-block;
	text-decoration: none;
	border: 1px solid rgba(48, 49, 49, 1);
	padding: .5em 1em;
	color: gray;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.cta-boeken:hover {
	background: rgba(48, 49, 49, 1);
	color: white;
}

/* testimonials */

.testimonials {
	padding: 5em;
	text-align: center;
	background: #bb97a8;
	color: white;
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 8em;
}

.testimonial-container {
	max-width: 800px;
	margin: 0 auto;
}

.testimonials h3 {
	font-family: nunito;
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 10px;
	margin-bottom: 1em;
	text-decoration: none;
	font-weight: normal;
}

.testimonial-content {
	line-height: 3;
	padding-bottom: 3em;
	font-family: 'nunito';
	letter-spacing: 2px;
	font-weight: 300;
	opacity: .9;
}

/* portfolio */

.portfolio {
	margin-bottom: 3em;
}

.portfolio h3 {
	margin-top: 1em;
	letter-spacing: 3px;
	margin-bottom: 1em;
}

.portfolio-gallery {
	column-count: 3;
	padding: 1em;
}

.portfolio-gallery img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	box-shadow: 0 0 5px lightgray;
	margin-bottom: .5em;
	transition: opacity .3s ease-in-out;
	object-fit: contain;
}

.portfolio-gallery img:hover,
.portfolio-gallery img:focus {
	opacity: .4;
	cursor: pointer;
}

/* contact */

.contact-container {
	margin: 1em 0;
}

.contact-container h3 {
	font-size: 24px;
	font-weight: 400;
}

.inputs-container {
	width: 700px;
	margin: 2em auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-inputs,
.contact-textarea {
	width: calc(50% - .2em);
	flex-shrink: 0;
}

input,
textarea {
	padding: .3em;
	font-family: inherit;
	font-size: 16px;
	opacity: .9;
}

input {
	width: 100%;
	margin-bottom: .4em;
}

input:last-of-type {
	margin-bottom: 0;
}

textarea {
	height: 100%;
	width: 100%;
	resize: none;
}

.contact-inputs {
	margin-right: .4em;
}

.inputs-container button {
	margin-left: auto;
	margin-top: .4em;
	padding: .75em .5em;
	border: 0;
	background: #a0a09f;
	color: rgba(255, 255, 255, .8);
	font-size: 16px;
}

.inputs-container button:hover {
	cursor: pointer;
	opacity: .9;
}

/* footer */

footer {
	grid-column: 1 / -1;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer .fab {
	color: black;
	margin: .5em;
	padding: .5em;
	opacity: 1;
}

footer .fab:hover {
	cursor: pointer;
}

@media (max-width: 1170px) {
	header {
		justify-content: center;
	}

	.logo {
		min-width: 200px;
		font-size: 22px;
	}

	ul {
		background-color: rgb(255, 255, 255);
	}

	.open-hamburger,
	.nav-links {
		text-align: left;
		position: absolute;
		top: 78px;
	}

	.open-hamburger {
		right: 0;
		width: 200px;
		opacity: 1;
		transition: all .3s;
	}

	.nav-links {
		opacity: 0;
		right: 0;
		width: 0;
		transition: all .2s ease;
		/* display: none; */
	}

	.nav-link {
		display: block;
		margin: 30px;
	}

	.hamburger {
		position: absolute;
		height: 20px;
		width: 20px;
		margin-left: 1em;
		cursor: pointer;
		right: 50px;
		transform: translateX(100%);
	}

	.line {
		display: inline-block;
	}

	.line-1,
	.line-2,
	.line-3 {
		position: absolute;
		width: 20px;
		height: 2px;
		background-color: black;
		left: 0;
		transition: .2s ease;
	}

	.line-1 {
		top: 2px;
	}

	.rotate-45 {
		transform: rotate(45deg);
		top: 12px;
	}

	.line-2 {
		top: 10px;
	}

	.display-none {
		display: none;
	}

	.line-3 {
		top: 18px;
	}

	.rotate-minus-45 {
		transform: rotate(-45deg);
		top: 12px;
	}
}

@media (max-width: 1040px) {

	.inleiding-content {
		padding: 3em 0;
		max-width: 750px;
	}

	.purple {
		height: 250px;
	}

	.werkwijze {
		margin: 2em 0 6em;
	}

	.werkwijze-card-container {
		display: grid;
		gap: 1em;
		grid-template-columns: minmax(0, 1fr) 250px 250px 250px minmax(0, 1fr);
		grid-template-areas: '. one two three .''. four five six.';
		margin: 1em auto;
	}

	.card {
		margin: 0;
		max-width: 250px;
	}

	.one {
		grid-area: one;
	}

	.two {
		grid-area: two;
	}

	.three {
		grid-area: three;
	}

	.four {
		grid-area: four;
	}

	.five {
		grid-area: five;
	}

	.six {
		grid-area: six;
	}

	.pakketten-container {
		display: grid;
		gap: 1em;
		grid-template-columns: minmax(0, 1fr) 250px 250px 250px minmax(0, 1fr);
		grid-template-areas: '. pakket-one pakket-two pakket-three .';
		margin: 1em auto;
	}

	.pakket-one {
		grid-area: pakket-one;
	}

	.pakket-two {
		grid-area: pakket-two;
	}

	.pakket-three {
		grid-area: pakket-three;
	}

	.card-pakket-name {
		position: initial;
		padding-left: 0;
	}

	.pakket-card-content-container {
		height: 400px;
		display: flex;
		flex-direction: column;
	}

	.pakket-prijs-container {
		margin-bottom: 0;
		margin-top: auto;
	}

	.portfolio-gallery {
		column-count: 2;
	}
}

@media (max-width: 860px) {
	header {
		justify-content: flex-start;
	}

	.inleiding-content,
	.werkwijze {
		max-width: 650px;
		margin: 0 auto;
		padding: 1.5em;
	}

	.inleiding-img {
		height: initial;
	}

	.inleiding-img img {
		object-fit: contain;
	}

	.purple {
		height: 200px;
	}

	.werkwijze {
		margin-bottom: 4em;
		margin-top: 0;
	}

	.werkwijze-card-container {
		grid-template-columns: minmax(0, 1fr) minmax(250px, 400px) minmax(0, 1fr);
		grid-template-areas: '. one .'
			'. two .'
			'. three .'
			'. four .'
			'. five .'
			'. six .';
	}

	.card {
		max-width: 400px;
	}

	.werkwijze,
	.pakketten {
		margin-bottom: 4em;
	}

	.button-cta-stap a {
		font-size: 14px;
		padding: .7em 1.4em;
	}

	.pakketten-container {
		grid-template-columns: minmax(0, 1fr) minmax(250px, 400px) minmax(0, 1fr);
		grid-template-areas: '. pakket-one .'
			'. pakket-two .''. pakket-three .';
	}

	.pakket-card-content-container {
		height: 300px;
	}

	.card-pakket-name {
		font-size: 24px;
	}

	.testimonials h3 {
		font-size: 32px;
	}

	.testimonials {
		margin-bottom: 6em;
	}

	.inputs-container {
		width: 500px;
		display: block;
	}

	.contact-inputs,
	.contact-textarea {
		width: 100%;
	}

	.contact-inputs input,
	.contact-textarea textarea {
		margin-bottom: 1em;
	}

	.contact-textarea {
		height: 150px;
	}

	.inputs-container button {
		font-size: 20px;
		padding: .75em 1em;
		opacity: 1;
	}
}

@media (max-width: 550px) {
	header {
		padding: 1.5em 1em;
	}

	.logo {
		font-size: 20px;
	}

	.inleiding-content {
		padding: 2em 1em;
	}

	.werkwijze {
		margin: 0 0 6em;
		padding: 0;
	}

	.werkwijze-inleiding {
		padding: 2em 1em;
	}

	.card {
		margin-bottom: 2em;
	}

	.card:nth-of-type(6) {
		margin-bottom: 0;
	}

	.button-cta-stap {
		margin-top: 1.5em;
	}

	.pakket-card-content-container {
		height: 300px;
	}

	.testimonials {
		padding: 3em 1em;
		margin-bottom: 6em;
	}

	.testimonials h3 {
		font-size: 22px;
	}

	.portfolio-gallery {
		column-count: 1;
		padding: 1em;
	}

	.portfolio h3 {
		margin-bottom: 0;
	}

	.inputs-container {
		width: initial;
		max-width: 520px;
		display: block;
		padding: 1em;
		margin: 0 auto;
	}
}

@media (max-width: 400px) {
	.pakket-card-content-container {
		height: 350px;
	}
}